$stable:                          #f8f8f8 !default;

div.inner-scroll.scroll-y {
  background-color: var(--ion-color-primary);
}

.scroll {
  padding: 10px 0 50px !important;
}
div.message {
  display: inline-block;
  width:100%;
  position:relative;
  min-height:60px;
  height:auto;
}

div.messageBlock {
  padding-top:24px;
}
div.other > .message {
  left:100%;
  transform: translateX(-100%);
  width: auto;
}
.time {
  font-size: 15px;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  display: initial;
  position:relative;
  top:32px;
  left:-40px;
  &.slide-right {
    position:relative;
    right:8px;
    
  }
  & .other {
    left: calc(100% - 40px);
  }
}
//This will change

div.message > div.text {
  background: var(--ion-color-tertiary) !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
div.other > div.message > div.text {
    background: var(--ion-color-secondary) !important;
}

.tab-header{
  color: white;
  height: 12%;
}

.input-message{
    max-width: 300px;
    width: 300px;
    max-height: 500px;
}

.send-btn {
  position:absolute;
  right:5px;
  color: var(--ion-color-tertiary);
}