<ion-header no-border lines ="none" class="tab-header">
  <ion-toolbar color = "primary">  
      <ion-title lines = "none" style="text-align: center; margin-top:2.5%;"><h2>Chat</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div *ngFor="let message of messages"
            [ngClass]="{'other' : message.userId == 1}"
           class="messages other">

        <div class="message" [ngClass]="{'slide-right': hideTime, '': !hideTime}">
          <span>{{ message.text }}</span>
        </div>

        <div class="time" [ngClass]="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>


      </div>

    </ion-content>

<ion-footer keyboard-attach class="bar-stable item-input-inset">
  <!-- <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
  </label> -->
  <ion-toolbar>
    <ion-input type="text" class="item-input-wrapper input-message" placeholder="Escreva a sua mensagem..."></ion-input>
    <!-- <button class="button button-clear" ng-click="sendMessage()">
      Send
    </button> -->
  
    <!-- <button class="button button-clear">
      Enviar
    </button> -->
  </ion-toolbar>
</ion-footer>

