.tab-header{
  background-color: #59ABB3;
  color: white;
  height: 12%;
}

.content{
  background-color: #13455E;
}

.header-image{
  height: 150%;
  display: block;
  margin: -5% auto;
}

.dias{
  content: "";
  display: table;
  clear: both;
}

.horarios{
  content: "";
  display: table;
  clear: both;
}

  .conteudo-left{
    width:20%;
    height:100%;
    float:left;
    background-color: #13455E;
  }
  .conteudo-right{
    width:75%;
    height:100%;
    float:left;
    background-color: #13455E;
  }
.dia{
  height: 30%;
  width: 100%;
  text-align: left;
  background-color:#59ABB3;
  color: #13455E
}

ion-card{
  background-color:#59ABB3
}

.num_dia{
  height: 60%;
  float: center;
}

.hora{
  height: 40%;
}

.botao_dia{
  --height: 300px;
}

.programas{
  heigth:40%;
  width:100%;
}

.try{
  background-color:#59ABB3;
  height: 100%;
}

.button-card{
  heigth:100%;
  width:100%;
}