<!--<ion-header>
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-header class="tab-header">
  <img class="header-image" src="./../../assets/markai.png" alt="">
  <h1>Horarios</h1>
</ion-header>

<ion-content>

  <nav>
    <div class="conteudo-left">
      <ion-list>
        <ion-button expand="block">Dia 1</ion-button>
        <ion-button expand="block">Dia 2</ion-button>
        <ion-button expand="block">Dia 3</ion-button>
        <ion-button expand="block">Dia 4</ion-button>
        <ion-button expand="block">Dia 5</ion-button>
      </ion-list>
    </div>
  
    <div class="conteudo-right">
      <ion-list class="dia">
          <ion-list-header>
              <ion-label>Horarios</ion-label>
            </ion-list-header>
            <nav>
              <ion-item class="dia">
                <div>oi</div>
                <div><ion-badge color="primary">0</ion-badge></div>
              </ion-item>
              <ion-item class="dia">
                <div>ola</div>
                <div><ion-badge color="primary">0</ion-badge></div>
              </ion-item>
              <ion-item class="dia">
                <div>tchau</div>
                <div><ion-badge color="primary">0</ion-badge></div>
              </ion-item>
            </nav>
      </ion-list>
    </div>
  </nav>
</ion-content>
