.tab-header{
  background-color:var(--ion-color-tertiary); 
  color: white;
  height: 12%;
}

.card-calendar{
  text-align: center; 
  margin:0; 
  background-color: var(--ion-color-primary);
  border-radius: 0;
  border: rgba(0,0,0,0) solid 1px;
  height: 60px;
}

.weekview-allday-table{
  display: none;
}
  
.weekview-normal-event-container{
margin-top: 37px;
}

#schedule-title {
  display: inline-block;
  position: relative;
  width:100%;
  text-align: center;
  font-size:24px;
  color: var(--ion-color-tertiary);
}

.addEvent_btn {
  color:var(--ion-color-primary);
  background-color:var(--ion-color-tertiary);
}

.addEvent_header_btn {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 14px;
  right: 14px;
  transition: transform 0.3s;
}

#addEventCard {
  background-color: var(--ion-color-primary);
}

#addEventPopup {
  position: absolute;
  top: 60px;
  margin-top: 10px;
  bottom: 0px;
  left:0px;
  right:0px;
  z-index:100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(0,0,0,0.5);
}

.ion-calendar-content {
  transition: opacity 0.3s;
}

@keyframes show {
  0% {visibility: hidden; opacity: 0;}
  1% {visibility: visible; opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hide {
  0% {visibility: visible; opacity: 1;}
  99% {opacity: 0;}
  100% {visibility: hidden; opacity: 0;}
}