
.welcome-card{
    height: 120px;
    border: none;
  }
  
  .tab-header{
    background-color: #59ABB3;
    color: white;
    height: 12%;
  }
  .marcacao-image{
    margin-bottom: 2px;
    width: 300px;
  }
  
  .busca-especialidade{
    margin: 0 auto;
    width: 90%;
    border-bottom-width: 2px;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    background-color: #DFEEF0;
    color: #13455E;
  }

  .busca-especialidade ::placeholder{
    margin-top: 10px;
    text-align: center;
  }

  .header-image{
    height: 150%;
    display: block;
    margin: -5% auto;
  }
  
  .conteudo{
    background-color: #DFEEF0;
  }
  
  .marcacoes-individuais{
    margin-left: 15px;
    color: #DFEEF0;
  }

  .card{
    background-color: white;
    width: 40%;
    margin-left: 10px;
  }

  .item-mark{
      border-radius: 25px;
      margin-left: 2px;
      margin-right: 2px;
  }

  ion-card {
      width: 40%;
      height: 40%;
      text-align: center;
  }
  
  .card-title {
      position: absolute;
      top: 70%;
      height: 50px;
      font-size: 1.1em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background-color: rgba(10,23,55,0.5);
    }
  
    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .scrolling-wrapper ion-card {
      display: inline-block;
    }
  
    ion-chip{
      background-color: #59ABB3;
      color: #DFEEF0;
    }

    ion-item{
      border-top: 1px solid #59ABB3;
      margin-top:2px;
    }

    .item-marks{
      background-color: #59B365;
    }