<ion-tabs >
  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button class="tab-item" tab="calendar">
      <ion-icon class="icon-tab" name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="chat">
      <ion-icon class="icon-tab" name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="search-page">
      <ion-icon class="icon-tab" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="notifications">
      <ion-icon class="icon-tab" name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="tab-item" tab="settings">
      <ion-icon class="icon-tab" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>