.tab-bar{
    background-color:var(--ion-color-tertiary);
    border:0px;
}
.tab-item{
    background-color:var(--ion-color-tertiary);
    border:0px;
}
.icon-tab{
    color: white;
    font-size:34px;
}
.test-content{
    background-color: #59ABB3;
}