div.tutorial, div.intro_, div.main_ {
  background-color: var(--ion-color-secondary);
  width:100%;
  height:100%;
  top: 0px;
  left: 0px;
  position: absolute;
  text-align: center;
  z-index: 1000;
  display: inline-block;
  color: #FFF;
  visibility: visible;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;   
}
div.screen > h3 {
padding:5%;
}

div.intro_, div.main_ {
  visibility: hidden;
}

div.stayVisible, .stayVisible {
visibility: visible;
}

div.stayHidden, .stayHidden {
visibility: hidden;
}
img.bigIcon {
align-content: center;
width: 200px;
height: 200px;
}

a.bigButton, a.bigButton:hover, a.bigButton:active, a.bigButton:focus {
background-color: #FFF;
color: #000000;
padding: 20px;
border-radius: 12px;
height: 40px;
font-size: 30px;
text-decoration:none;
font-weight: bold;
}
div.bigButton {
bottom:4%;
left:50%;
transform: translateX(-50%);
display: inline-table;
position:absolute;
}
.disabled {
opacity:0.4;
}

div.specialityButton {
background-color: #FFF;
color: #000000;
padding: 5px;
margin:5px;
border-radius: 12px;
height: 40px;
font-size: 30px;
width: 90%;
text-align: left;
text-decoration:none;
font-weight: bold;
display: inline-table;
}

div.specialityButton > img.icon {
position: relative;
display:inline;
width: 64px;
height: 64px;
}

div.disabled {
opacity: 0.4;
}
div.backButton {
top:1%;
left:1%;
position: absolute;
z-index:10000;
zoom: 3;
}
div.screen > h1 {
padding-top:3%;
}

input.searchSpeciality {
border-radius: 12px;
background-color: #FFF;
color: #000;
width: 90%;
height: 30px;
font-size: 20px;
padding-left: 30px;
left:-12px;
position: relative;
}
form > div.icon {
  zoom: 1.5;
  display:inline;
  left: 12px;
  top: 4px;
  position: relative;
  color:gray;
  z-index: 1;
}

#searchResults {
width:100%;
}
div.maps {
top: 10%;
position: absolute;
left:0px;
bottom:25%;
right:0px;
}

h3.bigTip {
bottom:-4%;
position:absolute;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}