<ion-header no-border lines ="none" class="tab-header">
  <ion-toolbar class="toolbar" color="tertiary">
    <ion-title lines = "none" style="text-align: center; margin-top:2.5%;"><h2>Notificações</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
  <ion-card-header style="padding-bottom: 1.5%;">
    <ion-card-title class="card-title">Olha a horaaa!</ion-card-title>
  </ion-card-header>
    <ion-card-content class="card-content">
      Não se atrase! Sua consulta na clínica Fulaninha será daqui a 1 hora.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
      <ion-card-header style="padding-bottom: 1.5%;">
        <ion-card-title class="card-title">Novo match!</ion-card-title>
      </ion-card-header>
        <ion-card-content class="card-content">
          Especialista da clínica fulaninha irá lhe atender amanhã às 10:30.
        </ion-card-content>
      </ion-card>
</ion-content>
