.tab-header{
    background-color: #59ABB3;
    color: white;
    height: 12%;
  }
.card{
    margin:auto;
    align-content: inherit;
}

.toolbar{
    background-color: #13455E;
    text-align: center;
}

.card{
    padding: 0%, 0%, 0%, 0%;
}

.card-header{
}


.card-title{
    color: #13455E;
    margin: 0px;
    font-weight: bold;
}

.card-content{
    text-align: left;
    color: #13455E;
    padding: 0%, 0%, 0%, 0%;
}
