.card-title{
    text-decoration: #13455E;
}

.card-content{
    text-align: left;
    color: #13455E;
}

.tab-header{
    background-color: #59ABB3;
    color: white;
    height: 12%;
  }
.card{
    margin:auto;
    align-content: inherit;
}