<ion-header class="tab-header">
  <ion-toolbar>
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-header>
    <ion-card-title class="card-title">Olha a horaaa!</ion-card-title>
  </ion-card-header>
    <ion-card-content class="card-content">
      Não se atrase! Sua consulta na clínica Fulaninha será daqui a 1 hora.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Novo match!</ion-card-title>
      </ion-card-header>
        <ion-card-content class="card-content">
          Especialista da clínica fulaninha irá lhe atender amanhã às 10:30.
        </ion-card-content>
      </ion-card>
</ion-content>
